@import '~node_modules/modern-normalize/modern-normalize.css'; /* ==================Reset==================== */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

.button {
  cursor: pointer;
  background-color: inherit;
}

/* ==================Base==================== */
body {
  font-family: "Poppins";
  font-weight: 300;
  color: #9c9c9c;
  background-color: #0d0d11;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

[class*=__container] {
  max-width: 1310;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.button {
  display: inline-block;
  padding: 16px 29.5px;
  min-width: 160px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4285714286;
  text-align: center;
  letter-spacing: 2px;
  background-color: #3D96F4;
  color: #FFFFFF;
  border-radius: 50px;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.button:hover {
  background-color: #69a7e9;
}
@media (max-width: 991.98px) {
  .button {
    padding: 14px 20px;
  }
}

.button-dark {
  background-color: rgba(129, 129, 139, 0.2);
}
.button-dark:hover {
  background-color: rgb(129, 129, 139);
}

/* ==================Header==================== */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(13, 13, 17, 0.4588235294);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 116px;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 560px) {
  .header__logo {
    width: 32px;
    overflow: hidden;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32px;
            flex: 0 0 32px;
  }
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  row-gap: 3px;
}

.menu__link {
  display: block;
  font-size: 16px;
  line-height: calc 1.625;
  color: #FFFFFF;
}
.menu__link:hover {
  text-decoration: underline;
}

.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-header {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.cart-header__text {
  font-size: 18px;
  line-height: calc 1.5555555556;
  letter-spacing: 0.96px;
}
@media (max-width: 560px) {
  .cart-header__text {
    display: none;
  }
}

@media (max-width: 559.98px) {
  .cart-header__icon {
    width: 25px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 560px) {
  .cart-header__icon {
    display: none;
  }
}

.cart-header__quantity {
  background: rgba(129, 129, 139, 0.3);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  z-index: 10;
}
@media (max-width: 560px) {
  .cart-header__quantity {
    background: transparent;
  }
}

.cart-header__wrapper {
  position: relative;
}

.cart-header__icon {
  width: 40px;
  height: 43px;
  fill: rgba(129, 129, 139, 0.3);
  position: absolute;
  top: -16px;
  left: -4px;
}

.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__logo,
.header__cart,
.header__button {
  position: relative;
  z-index: 5;
}

@media (max-width: 991.98px) {
  .header__container,
.menu__list {
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
  .header__container {
    min-height: 90px;
  }
}
.mobile-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .mobile-menu {
    min-height: 40px;
    min-width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}

@media (max-width: 767.98px) {
  .header__container,
.menu__list {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .header__container {
    min-height: 70px;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__list {
    row-gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .menu__link {
    font-size: 32px;
  }
}
/* ==================Header==================== */
.hero {
  padding-top: 160px;
}
@media (max-width: 991.98px) {
  .hero {
    padding-top: 120px;
  }
}
@media (max-width: 767.98px) {
  .hero {
    padding-top: 100px;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      align-self: center;
}

.hero__title {
  position: relative;
  font-weight: 500;
  font-size: 51.2px;
  line-height: 1.19140625;
  color: #FFFFFF;
  max-width: 520px;
}

.hero__title::before {
  display: block;
  position: absolute;
  content: "";
  background: url(../img/decor.svg) 0 0/100% no-repeat;
  width: 122px;
  height: 122px;
  top: -30px;
  left: -34px;
}

.hero__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.images-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9.61%;
}

.images-main__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.images-main__item {
  border-radius: 50%;
  overflow: hidden;
}
.images-main__item--1, .images-main__item--4 {
  border-radius: 50%/29%;
}
.images-main__item--2 {
  border-radius: 50% 50% 0 50%;
}
.images-main__item--3 {
  border-radius: 50% 0 50% 50%;
}

.images-main__item img {
  max-width: 100%;
}/*# sourceMappingURL=main.css.map */